---
- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - common
    - jdk7
    - cdh_common

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  sudo_user: hdfs
  roles:
    - hadoop_namenode

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - hadoop_start

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  sudo_user: hdfs
  roles:
    - hadoop_hdfs_directory

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - hadoop_start_resourcemanager

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - zookeeper_server
  tags:
    - zookeeper

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  sudo_user: hdfs
  roles:
    - hbase_hdfs_directory
  tags:
    - hbase

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - hbase_master
    - hbase_regionserver
    - hbase_config
  tags:
    - hbase

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - mariadb
  tags:
    - mariadb

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - hive
  tags:
    - hive

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - redis
  tags:
    - redis

- hosts: cdh
  remote_user: vagrant
  sudo: yes
  roles:
    - sbt
  tags:
    - sbt

